html,
body {
    background: #1b5ae2;
    overflow: hidden;
}

.cloud {
    position: absolute;
    top: 110px;
    left: 20px;
    width: 500px;
    height: 100px;
    background: #fff;
    border-radius: 1000px;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cloud::after {
    content: '';
    position: absolute;
    background: inherit;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    left: 80px;
    top: -80px;
}

.cloud::before {
    content: '';
    position: absolute;
    background: inherit;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    left: 200px;
    top: -100px;
}

.cloud.i2 {
    top: 500px;
    left: 200px;
    transform: scale(0.8);
    animation-name: move2;
    animation-duration: 6s;
}

.cloud.i3 {
    top: 800px;
    left: 50px;
    transform: scale(0.5);
    animation-name: move3;
    animation-duration: 3s;
}


@keyframes move {
    from {
        margin-left: 0;
    }

    to {
        margin-left: calc(100% - 500px - 40px);
    }
}

@keyframes move2 {
    from {
        margin-left: 0;
    }

    to {
        margin-left: calc(100% - 400px - 400px);
    }
}

@keyframes move3 {
    from {
        margin-left: 0;
    }

    to {
        margin-left: calc(100% - 250px - 100px);
    }
}