.mobile-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-wrap {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.mobile-menu-wrap>span {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 100px;
    transition: 0.3s;
}

#mobile-menu-sw {
    display: none;
}

#mobile-menu-sw:checked~.mobile-menu-wrap>span {
    background: red;
}

#mobile-menu-sw:checked~.mobile-menu-wrap>span:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}

#mobile-menu-sw:checked~.mobile-menu-wrap>span:nth-child(2) {
    display: none;
}

#mobile-menu-sw:checked~.mobile-menu-wrap>span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
}