.mobile-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-wrap {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.mobile-menu-wrap>span {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 100px;
}